---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_14S5x2By5M37OfcVnsrLAUmb&plan=base&email=alice%40gmail.com
    headers:
      Authorization:
      - Bearer sk_test_GwATDaM0axGi5KZp5oNX4r1U
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-08-04'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1408190789,
          "id": "cus_4bIYC0O3rOT9SB",
          "livemode": false,
          "description": null,
          "email": "alice@gmail.com",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_4bIYC0O3rOT9SB/subscriptions",
            "data": [
              {
                "id": "sub_4bIYwQt2krkScN",
                "plan": {
                  "interval": "month",
                  "name": "the base plan",
                  "created": 1408174403,
                  "amount": 999,
                  "currency": "usd",
                  "id": "base",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {},
                  "statement_description": null
                },
                "object": "subscription",
                "start": 1408190789,
                "status": "active",
                "customer": "cus_4bIYC0O3rOT9SB",
                "cancel_at_period_end": false,
                "current_period_start": 1408190789,
                "current_period_end": 1410869189,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null,
                "metadata": {}
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "usd",
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_4bIYC0O3rOT9SB/cards",
            "data": [
              {
                "id": "card_14S5x2By5M37OfcVwkzWoOC4",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 1,
                "exp_year": 2015,
                "fingerprint": "BnWgnMI06u49t6Ml",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "customer": "cus_4bIYC0O3rOT9SB"
              }
            ]
          },
          "default_card": "card_14S5x2By5M37OfcVwkzWoOC4"
        }
  recorded_at: Sat, 16 Aug 2014 12:06:29 GMT
recorded_with: VCR 2.9.2
