---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_14RMSWAXG4NFeDCmVFearjFk&description=Forever%20Memebership%20Charge%20for%20alice%40gmail.com
    headers:
      Authorization:
      - Bearer sk_test_4ZOzMjGJiS9U9eVyxk8kUcDD
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-08-04'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_14RMSXAXG4NFeDCmUSOIYCvj",
          "object": "charge",
          "created": 1408015917,
          "livemode": false,
          "paid": true,
          "amount": 999,
          "currency": "usd",
          "refunded": false,
          "card": {
            "id": "card_14RMSWAXG4NFeDCm0sinD2Tm",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 1,
            "exp_year": 2015,
            "fingerprint": "hbapDZYGJx4rA5BD",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null,
            "customer": null
          },
          "captured": true,
          "refunds": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/charges/ch_14RMSXAXG4NFeDCmUSOIYCvj/refunds",
            "data": []
          },
          "balance_transaction": "txn_14RMSXAXG4NFeDCmLMZ0LGLm",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": null,
          "invoice": null,
          "description": "Forever Memebership Charge for alice@gmail.com",
          "dispute": null,
          "metadata": {},
          "statement_description": null,
          "receipt_email": null
        }
  recorded_at: Thu, 14 Aug 2014 11:31:56 GMT
recorded_with: VCR 2.9.2
