---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_14RMFhAXG4NFeDCmKn3035Ql&description=Forever%20Memebership%20Charge%20for%20example123%40example.com
    headers:
      Authorization:
      - Bearer sk_test_4ZOzMjGJiS9U9eVyxk8kUcDD
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-08-04'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_14RMFjAXG4NFeDCmshSMTDgf"
          }
        }
  recorded_at: Thu, 14 Aug 2014 11:18:42 GMT
recorded_with: VCR 2.9.2
