!!! 5
%html
  %body
    %h1
      = "Hey #{@user.full_name}, your credit card payment failed."

    %p
      You credit card was charged unsucceessfully. Your account has been suspended, please contact the customer service.
      click
      = link_to "here", ""
