- @results.each do |result|
  %ul
    %article.video
      .container
        .row
          .video_large_cover.col-sm-3.col-sm-offset-3
            %img(src="#{result.cover_image.small_cover.url}")
          .video_info.col-sm-4
            %header
              %h3= result.title
              %span
                Rating:
                = result.decorator.display_rating
            %p= result.description

  %br
