---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=8&card[exp_year]=2015&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_GwATDaM0axGi5KZp5oNX4r1U
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-08-04'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_14S287By5M37OfcVf8Q1cdiK",
          "livemode": false,
          "created": 1408176099,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_14S287By5M37OfcV6G0lNsrO",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 8,
            "exp_year": 2015,
            "fingerprint": "BnWgnMI06u49t6Ml",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "customer": null
          }
        }
  recorded_at: Sat, 16 Aug 2014 08:01:39 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_14S287By5M37OfcVf8Q1cdiK&plan=base&email=hudson_buckridge%40hackettgleichner.name
    headers:
      Authorization:
      - Bearer sk_test_GwATDaM0axGi5KZp5oNX4r1U
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-08-04'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1408176100,
          "id": "cus_4bEbe5Dk0qkWvN",
          "livemode": false,
          "description": null,
          "email": "hudson_buckridge@hackettgleichner.name",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_4bEbe5Dk0qkWvN/subscriptions",
            "data": [
              {
                "id": "sub_4bEbmnOircMdBK",
                "plan": {
                  "interval": "month",
                  "name": "the base plan",
                  "created": 1408174403,
                  "amount": 999,
                  "currency": "usd",
                  "id": "base",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {},
                  "statement_description": null
                },
                "object": "subscription",
                "start": 1408176100,
                "status": "active",
                "customer": "cus_4bEbe5Dk0qkWvN",
                "cancel_at_period_end": false,
                "current_period_start": 1408176100,
                "current_period_end": 1410854500,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null,
                "metadata": {}
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "usd",
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_4bEbe5Dk0qkWvN/cards",
            "data": [
              {
                "id": "card_14S287By5M37OfcV6G0lNsrO",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 8,
                "exp_year": 2015,
                "fingerprint": "BnWgnMI06u49t6Ml",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "customer": "cus_4bEbe5Dk0qkWvN"
              }
            ]
          },
          "default_card": "card_14S287By5M37OfcV6G0lNsrO"
        }
  recorded_at: Sat, 16 Aug 2014 08:01:41 GMT
recorded_with: VCR 2.9.2
