---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_14S3hfBy5M37OfcVchb3FMLh
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_GwATDaM0axGi5KZp5oNX4r1U
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-08-04'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_14S3hfBy5M37OfcVchb3FMLh",
          "created": 1408182147,
          "livemode": false,
          "type": "charge.succeeded",
          "data": {
            "object": {
              "id": "ch_14S3hfBy5M37OfcV8IXAnckd",
              "object": "charge",
              "created": 1408182147,
              "livemode": false,
              "paid": true,
              "amount": 999,
              "currency": "usd",
              "refunded": false,
              "card": {
                "id": "card_14S3heBy5M37OfcVGyWKin6b",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 8,
                "exp_year": 2015,
                "fingerprint": "BnWgnMI06u49t6Ml",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "customer": "cus_4bGES1fshmhqnF"
              },
              "captured": true,
              "refunds": {
                "object": "list",
                "total_count": 0,
                "has_more": false,
                "url": "/v1/charges/ch_14S3hfBy5M37OfcV8IXAnckd/refunds",
                "data": []
              },
              "balance_transaction": "txn_14S3hfBy5M37OfcVMDXtzm0u",
              "failure_message": null,
              "failure_code": null,
              "amount_refunded": 0,
              "customer": "cus_4bGES1fshmhqnF",
              "invoice": "in_14S3hfBy5M37OfcVlsCKhA9v",
              "description": null,
              "dispute": null,
              "metadata": {},
              "statement_description": null,
              "receipt_email": null
            }
          },
          "object": "event",
          "pending_webhooks": 0,
          "request": "iar_4bGEnN1pESXy2N"
        }
  recorded_at: Sat, 16 Aug 2014 10:24:30 GMT
recorded_with: VCR 2.9.2
