---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=8&card[exp_year]=2015&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_4ZOzMjGJiS9U9eVyxk8kUcDD
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-08-04'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_14RI5PAXG4NFeDCmuUc9H8Mj",
          "livemode": false,
          "created": 1407999107,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_14RI5PAXG4NFeDCm2DqFVREw",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 8,
            "exp_year": 2015,
            "fingerprint": "hbapDZYGJx4rA5BD",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "customer": null
          }
        }
  recorded_at: Thu, 14 Aug 2014 06:51:46 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=300&currency=usd&card=tok_14RI5PAXG4NFeDCmuUc9H8Mj
    headers:
      Authorization:
      - Bearer sk_test_4ZOzMjGJiS9U9eVyxk8kUcDD
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-08-04'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_14RI5QAXG4NFeDCmqlRRxacN",
          "object": "charge",
          "created": 1407999108,
          "livemode": false,
          "paid": true,
          "amount": 300,
          "currency": "usd",
          "refunded": false,
          "card": {
            "id": "card_14RI5PAXG4NFeDCm2DqFVREw",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 8,
            "exp_year": 2015,
            "fingerprint": "hbapDZYGJx4rA5BD",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null,
            "customer": null
          },
          "captured": true,
          "refunds": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/charges/ch_14RI5QAXG4NFeDCmqlRRxacN/refunds",
            "data": []
          },
          "balance_transaction": "txn_14RI5QAXG4NFeDCmV1bYnD5M",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": null,
          "invoice": null,
          "description": null,
          "dispute": null,
          "metadata": {},
          "statement_description": null,
          "receipt_email": null
        }
  recorded_at: Thu, 14 Aug 2014 06:51:47 GMT
recorded_with: VCR 2.9.2
