---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_14S5UcBy5M37OfcVukP234uy
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_GwATDaM0axGi5KZp5oNX4r1U
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-08-04'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_14S5UcBy5M37OfcVukP234uy",
          "created": 1408189026,
          "livemode": false,
          "type": "charge.failed",
          "data": {
            "object": {
              "id": "ch_14S5UcBy5M37OfcV3JMqijFy",
              "object": "charge",
              "created": 1408189026,
              "livemode": false,
              "paid": false,
              "amount": 999,
              "currency": "usd",
              "refunded": false,
              "card": {
                "id": "card_14S5UABy5M37OfcVhc3zbTZG",
                "object": "card",
                "last4": "0341",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 8,
                "exp_year": 2019,
                "fingerprint": "Ja7kW8NQ9ZpRGSLf",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "customer": "cus_4bHAdABDVkzikg"
              },
              "captured": false,
              "refunds": {
                "object": "list",
                "total_count": 0,
                "has_more": false,
                "url": "/v1/charges/ch_14S5UcBy5M37OfcV3JMqijFy/refunds",
                "data": []
              },
              "balance_transaction": null,
              "failure_message": "Your card was declined.",
              "failure_code": "card_declined",
              "amount_refunded": 0,
              "customer": "cus_4bHAdABDVkzikg",
              "invoice": null,
              "description": "payment to failed",
              "dispute": null,
              "metadata": {},
              "statement_description": null,
              "receipt_email": null
            }
          },
          "object": "event",
          "pending_webhooks": 0,
          "request": "iar_4bI4RUd6MQek6y"
        }
  recorded_at: Sat, 16 Aug 2014 11:40:00 GMT
recorded_with: VCR 2.9.2
