---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: currency=usd&card=stripe_token
    headers:
      Authorization:
      - Bearer sk_test_GwATDaM0axGi5KZp5oNX4r1U
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-08-04'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "type": "invalid_request_error",
            "message": "Missing required param: amount",
            "param": "amount"
          }
        }
  recorded_at: Sat, 16 Aug 2014 08:13:52 GMT
recorded_with: VCR 2.9.2
